.for-buttons {
    background: rgb(216, 12, 199);
    text-align: right;
}

.upper {
    background: rgb(216, 12, 199);
    text-align: center;
}

body {
    background: gray;
}

.column {
    float: left;
    box-shadow: -10px 10px 10px 2px;
}

.card {
    height: 350px;
    width: 350px;
    background: white;
    margin: 15px;
    text-align: center;
}